  @tailwind base;
  @tailwind components;
  @tailwind utilities;
  


  .navbar::before{
    content: "";
    background-image: url("/flag.png");
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    display: block;
  }

 